<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>SIG.feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveFeedback</servlet-name>
        <servlet-class>SIG.saveFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinGroup</servlet-name>
        <servlet-class>user.JoinGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveGroup</servlet-name>
        <servlet-class>user.LeaveGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPost</servlet-name>
        <servlet-class>user.AddPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>user.AddQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>user.AddComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAnswer</servlet-name>
        <servlet-class>user.AddAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEvent</servlet-name>
        <servlet-class>user.AddEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiveValidateGid</servlet-name>
        <servlet-class>user.LiveValidateGid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSig</servlet-name>
        <servlet-class>user.CreateSig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mailer</servlet-name>
        <servlet-class>mailer.Mailer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>user.ChangePass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveFeedback</servlet-name>
        <url-pattern>/saveFeedback</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>user.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiveValidateUsername</servlet-name>
        <servlet-class>user.LiveValidateUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>user.ForgotPass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>user.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiveValidateUsername</servlet-name>
        <url-pattern>/LiveValidateUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinGroup</servlet-name>
        <url-pattern>/JoinGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveGroup</servlet-name>
        <url-pattern>/LeaveGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPost</servlet-name>
        <url-pattern>/AddPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAnswer</servlet-name>
        <url-pattern>/AddAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEvent</servlet-name>
        <url-pattern>/AddEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiveValidateGid</servlet-name>
        <url-pattern>/LiveValidateGid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSig</servlet-name>
        <url-pattern>/CreateSig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mailer</servlet-name>
        <url-pattern>/Mailer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/ForgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
