  body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }

  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }

i {
  border: solid black;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
}

i.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

i.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

i.up {
  padding: 5px;
  border-width: 0 6px 6px 0;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
   ::-webkit-scrollbar { 
    display: none; 
    }  
  
  .jumbotron {
    background-color: #343a40;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    max-width: 1920px;
  }

/*for statistics section*/  
.sig-container:after,.sig-container:before{
    content:"";
    display:table;
    clear:both
  }
  .sig-container{
    padding:0.01em 16px
  }
  .sig-row:after,.sig-row:before{
    content:"";
    display:table;
    clear:both
  }
  .sig-center{text-align:center!important}
  .sig-dark-grey,.sig-hover-dark-grey:hover,.sig-dark-gray,.sig-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
  .sig-padding-64{padding-top:64px!important;padding-bottom:64px!important}
  .sig-quarter{float:left;width:100%;}
  .sig-quarter,.sig-row-padding>.sig-col{padding:0 8px} 
  .sig-quarter{width:24.99999%;}
  .sig-xxlarge{font-size:36px!important}

  .container-fluid {
    padding-top: 10px; 
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: black;
    font-size: 50px;
  }
  .logo {
    color: black;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: black;
  } 
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid black; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid black;
    background-color: #fff !important;
    color: black;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #343a40 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #343a40;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #343a40;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: black !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
  -webkit-scrollbar{
      display:none;
  }

  /* Signup and Login modal section*/
  